.account {
  color: var(--main-text-color);
  width: 100%;
  margin-top: 50px;
  margin-left: -20px;
  height: 80vh;
  box-sizing: border-box;
}

.account__form {
  display: flex;
  flex-direction: column;
}

.account__fieldset {
  border: 1px solid var(--grayed-text-color);
  background-color: var(--grayed-text-color);
  opacity: 0.6;
  border-radius: 5px;
  margin: 0 auto ;
  width: 100%;
}

.account__legend {
  opacity: 0;
}

.account__form {
  margin-top: 50px;
}

.account__form-label {
  width: 80%;
  color: transparent;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.account__form-input {
  display: block;
  margin-top: 8px;
  padding: 10px;
  font-size: 20px;
  border: 3px solid var(--main-bg-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

.account__form-input:focus {
  border-color: var(--active-text-color);
  outline: none;
}

.account__form-input:hover {
  border-color: var(--active-text-color);
}

.account__form-tools {
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.account__form-tools-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.account__form-tools-password-info {
  color: var(--main-text-color);
  opacity: 0.8;
}

.account__form-tools-buttons {
  width: 80%;
}

@media (min-width: 768px) {
  .account__fieldset {
      width: 600px;
  }
}
